<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="err-panel panel panel-danger">
                <div class="panel-heading">Oups!</div>
                <div class="panel-body">
                    <div>
                        <img title="Crop Manager" src="images/logo.png" />
                    </div>
                    <hr>
                    <h1>404</h1>
                    <div>
                        <a class="btn btn-sm btn-primary" href="" tm-go-back>
                            <i class="fa fa-backward fa-image"></i> Go back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
